fastapi
uvicorn[standard]
beanie
pymongo
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-multipart
httpx
langgraph
langchain-aws
langchain-core
boto3
numpy
python-dotenv
passlib
bcrypt
motor
